body {
    background-image: url('../img/background.png');
    text-align: center;
    font-size: 30px;
    margin:auto;
    font-family: 'Abel', serif;
    font-size: 48px;
}
#BlocMenu{
    width: 500px;
    height:550px;
    background-color: #DCF5CD;
    border-radius: 30px;
    border-color: black;
    border: 10px;
    margin: auto;
}

#descText{
    width: 500px;
    height: 40px;
    font-size: 30px;
    color: #AEAEAE;
}

#logo-zoo{
    margin-top: 50px;
}

#ConnexionSoigneurs{
    color:rgb(255,255,255);
    font-size: 60px;
    height: 30px;
    -webkit-text-stroke:0.1px;
    -webkit-text-stroke-color: black;
}

#incorrectPass{
    color: red;
    font-size: 20px;
}
#ContactProb{
    color:black;
}
#Renseignement{
    color:rgb(174,174,174)
}
#MdpForget{
    color:rgb(0,0,255);
    font-size: 15px;
}
.InputCase{
    width: 395px;
    height: 60px;
    border-radius: 30px;
    background-color:rgb(214,214,214);
    color:rgb(150, 150, 150);
    font-size: 20px;
    font-style: italic;
    text-align: left;
    margin:auto;
}
#SUBMIT{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: rgb(126, 224, 102);
    border-width: 1px;
    border-color:black;
    color:white;
    font-size: 30px;
    -webkit-text-stroke:1px;
    -webkit-text-stroke-color: black;
    margin-top: 30px;
    transition: 500ms;
}
#SUBMIT:hover{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: rgb(183, 255, 165);
    border-width: 1px;
    border-color:black;
    color:rgb(0, 0, 0);
    font-size: 30px;
    -webkit-text-stroke:1px;
    -webkit-text-stroke-color: white;
    margin-top: 30px;
    transition: 500ms;
}
#ImageGauche{
    float: left;
    size:auto;
}
#ImageDroite{
    float: right;
    size:auto;
}
